@import "vars";
.container {
    display: flex;
    width: 100%;
    position: fixed;
    margin: 0;
    z-index: 3;
    background: $background;
}
.topHeader {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 1em;
    padding-left: 1em;
}
