@import "vars";
.container {
  min-height: 100vh;
  height: 100%;
  background: $background;
}
.main {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding-top: 5em;
}
.assistant {
  position: fixed;
  bottom: 3em;
  left: 2.5%;
  &__greet {
    padding: 1em;
    background: $light;
    max-width: 300px;
    margin-bottom: 1.5em;
    margin-left: 2em;
    box-shadow: $boxShadow;
    border-radius: 10px;
  }
}
.gnp {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    max-width: 460px;
    margin: 5em 0 2em;
  }
  p {
    font-size: 13px;
    margin: 0 1em;
  }
}
