$prymari: #294efa;
$background: #f5f7fa;
$backgroundItem: #a3b3fa;
$light: white;
$gray: #dcdcdc;
$boxShadow: 0px 4px 9px rgba(0, 0, 0, 0.5);

$phone: 480px;
$tablets: 768px;
$laptops: 1024px;
$desktop: 1200px;
$desktoplong: 1440px;
